* {
    font-family: "Montserrat", sans-serif, "微軟正黑體";
    position: relative;
    /* border: solid 1px black; */
  }
  
  body {
    background-color: #F0F0F0;
  }
  
  /* navbar */
  nav.navbar.navbar-expand-lg.navbar-light.at_top {
    transition: 0.5s;
    border-bottom: solid 1px transparent;
  }
  nav.navbar.navbar-expand-lg.navbar-light.at_top .navbar-brand .logo {
    width: 50px;
    height: 50px;
  }
  nav.navbar.navbar-expand-lg.navbar-light.at_top .nav-link {
    font-size: 20px;
    font-weight: regular;
    color: white;
  }
  nav.navbar.navbar-expand-lg.navbar-light.at_top ul.nav.navbar-nav.ml-auto {
    margin-right: 0;
  }
  nav.navbar.navbar-expand-lg.navbar-light.at_top ul.nav.navbar-nav.ml-auto a:hover {
    color: #E14339;
    transition: 0.5s;
  }
  nav.navbar.navbar-expand-lg.navbar-light.at_top ul.nav.navbar-nav.ml-auto .adownload {
    color: #E14339;
  }
  nav.navbar.navbar-expand-lg.navbar-light.at_top ul.nav.navbar-nav.ml-auto .adownload:hover {
    color: #E18681;
    transition: 0.5s;
  }
  nav.navbar.navbar-expand-lg.navbar-light.at_top .right {
    margin-right: 18px;
  }
/* header */
  header {
    background-color: #353174;
    padding: 250px 100px;
  }
  header h1, header h3 {
    font-weight: bold;
    z-index: 1;
    color: white;
  }
  header h1 {
    margin: 24px 0px;
    font-size: 46px;
  }
  header h3 {
    font-size: 26px;
  }
  header .bigcircle {
    width: 430px;
    height: 430px;
    border: solid 1px #E14339;
    border-radius: 100%;
    position: absolute;
    right: 1.5%;
    top: -110px;
  }
  header .bigcircle:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(225, 67, 57, 0.65);
    border-radius: 100%;
  }
  header .bigcircle:after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(225, 67, 57, 0.45);
    position: absolute;
    top: 93%;
    right: 115%;
  }
  header .bigcircle .imgcircle {
    width: 80%;
    position: absolute;
    right: 10%;
    top: 10%;
  }
  header .bigcircle .smallcircle {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #E14339;
    border: none;
    position: absolute;
    right: -30px;
    top: 50%;
    transform-origin: -180px 0px;
    animation: spin 20s infinite linear;
  }
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

  section h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    color: #BEA187;
  }
  section .content {
    margin-top: 80px;
  }
  
  /* section_about */
  section#section_about .col-md-4 .iphoto {
    width: 15em;
    height: auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  section#section_about .col-md-4 .backline {
    width: 15em;
    height: 18em;
    border: solid 1.5px #353174;
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -10px;
  }
  section#section_about .col-md-8 .topL, section#section_about .col-md-8 .bottomLtop {
    width: 46px;
    height: 4px;
    background-color:#353174;
    border: none;
    position: absolute;
  }
  section#section_about .col-md-8 .topL {
    left: 0%;
    top: 0%;
  }
  section#section_about .col-md-8 .topL:before {
    content: "";
    display: block;
    width: 4px;
    height: 46px;
    background-color:#353174;
    border: none;
    position: absolute;
    left: 0%;
  }
  section#section_about .col-md-8 .fontgroup {
    padding: 0px 40px;
    top: 50%;
    transform: translateY(-50%);
  }
  section#section_about .col-md-8 .fontgroup .font {
    font-size: 1.1em;
    font-weight: 600;
    text-align: justify;
    margin: 0px;
  }
  section#section_about .col-md-8 .fontgroup .ftop {
    margin-top: 15px;
  }
  section#section_about .col-md-8 .bottomLtop {
    bottom: 0%;
    right: 0%;
  }
  section#section_about .col-md-8 .bottomLtop:before {
    content: "";
    display: block;
    width: 4px;
    height: 46px;
    background-color: #353174;
    border: none;
    position: absolute;
    right: 0%;
    bottom: 0%;
  }

  /* section_experience */
  section#section_experience .works {
    width: 19em;
    height: 21em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 2em rgba(0, 0, 0, 0.13);
  }
  section#section_experience .works .lines {
    width: 17em;
    height: 19em;
    border: solid 1.5px #E14339;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  section#section_experience .works .lines .date {
    color: #E14339;
    font-size: 1em;
    padding-left: 1.2em;
    margin-top: 3em;
  }
  section#section_experience .works .lines .date_r {
    color: #EEEEEE;
  }
  section#section_experience .works .lines .work {
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 1em;
  }
  section#section_experience .works .lines .abilities {
    margin: 1.6em 1em 0em 1em;
  }
  section#section_experience .works .lines .abilities .ability {
    font-size: 1em;
    font-weight: 600;
    color: #797979;
    padding-left: 1em;
  }
  section#section_experience .works .lines .abilities .ability .circles {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: #797979;
    border: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  section#section_experience .works .lines .abilities .ability_r {
    color: #EEEEEE;
  }
  section#section_experience .works .lines .abilities .ability_r .circle_r {
    background-color: #EEEEEE;
  }
  section#section_experience .works .line_r {
    border: solid 0.1em #EEEEEE;
  }
  section#section_experience .work_y {
    background-color: #EFE5DC;
  }
  section#section_experience .work_r {
    background-color: #E14339;
  }

  /* section_skills */
  section#section_skills .jquery {
    width: 50%;
  }
  
  /* section_contact */
  section#section_contact .group {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  section#section_contact .group .redline {
    width: 400px;
    height: 200px;
    border: solid 1.2px #E14339;
    z-index: -1;
  }
  section#section_contact .group .redline .group1 {
    margin-top: 40px;
  }
  section#section_contact .group .redline .group1 .mail {
    margin-top: 16px;
  }
  section#section_contact .group .redline .group1 .phone, section#section_contact .group .redline .group1 .mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#section_contact .group .redline .group1 .phone .font {
    margin-left: 30px;
  }
  section#section_contact .group .redline .group1 .mail .font1 {
    margin-left: 26px
  }
  section#section_contact .group .redline .group1 .phone h6, section#section_contact .group .redline .group1 .mail h6 {
    margin: 0px;
    line-height: 24px;
  }
  section#section_contact .group .redline .group1 .phoneicon, section#section_contact .group .redline .group1 .mailicon {
    font-size: 24px;
    color: #E14339;
  }
  section#section_contact .group .redline .group1 .mailicon {
    margin-left: -5px
  }
  section#section_contact .group .redline h4 {
    z-index: 2;
    color: #E14339;
    text-align: center;
    font-size: 26px;
    margin-top: -18px;
  }
  section#section_contact .group .redline .block {
    width: 150px;
    height: 50px;
    background-color: #F0F0F0;
    z-index: 1;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* footer */
  footer#footer {
    background-color: #535353;
    padding: 16px 0px;
    margin-top: 120px;
    text-align: center;
  }
  footer#footer h6 {
    margin: 0px;
    color: white;
  }
